.investor-banner {
  z-index: 1;
  width: 100%;
  margin-top: 160px;
  #banner-img {
    width: 100%;
  }

  .bottom-container {
    opacity: 0;
    transition: 1s;
    width: 988px;
    position: relative;
    margin: 0 auto;
    .bottom-item {
      color: white;
      position: absolute;
      width: 988px;
      height: 160px;
      left: 0;
      background-color: #530d60;
      margin-top: -80px;

      z-index: 12;
      .title {
        margin: 38px 0px 38px 130px;
        h3 {
          font-size: 32px;
          margin-bottom: 15px;
        }
        h4 {
          font-size: 16px;
          margin-bottom: 12px;
          color: #ff5bf9;
        }
        h5 {
          width: 80%;
          height: 24px;
          line-height: 24px;
          overflow: hidden;
          font-size: 18px;
        }
      }
    ;
    }
    .bottom-item-right {
      position: absolute;
      background-color: #6a157b;
      width: 90px;
      height: 160px;
      right: 0;
      margin-top: -80px;
      z-index: 13;
      #bottom-icon {
        margin: 66px 38px;
      }
    }
  }

}

.investor-images {

  width: 1200px;
  margin: 150px auto 0px;
  .investor-category {
    a {
      text-decoration: none;
    }
    position: relative;
    margin-bottom: 60px;
    width: 100%;
    height: 460px;
    h3{
      img{
        margin-top: -5px;
      }
    }
    .investor-category-left {
      margin-top: 80px;
      width: 302px;
      height: 302px;
      position: absolute;

    }
    .investor-category-right {
      a {
        text-decoration: none;
      }
      position: absolute;
      background-color: white;
      opacity: 0.95;
      top: 30px;
      right: 30px;
      width: 440px;
      height: 400px;

      &:hover {
        hr {
          width: 200px;
        }
        h3 {
          transform: scale(1.04, 1.04);
          -ms-transform: scale(1.04, 1.04);
          -moz-transform: scale(1.04, 1.04);
          -webkit-transform: scale(1.04, 1.04);
          -o-transform: scale(1.04, 1.04);

          img {
            transform: rotate(360deg);
            -ms-transform: rotate(360deg); /* IE 9 */
            -moz-transform: rotate(360deg); /* Firefox */
            -webkit-transform: rotate(360deg); /* Safari 和 Chrome */
            -o-transform: rotate(360deg);
          }
        }
      }

      .investor-category-bt {
        margin: 54px 96px 12px 60px;
      }
      hr {
        margin: 10px 0px 70px 60px;
        transition: all 1s;
        width: 100px;
        height: 3px;
        background-color: rebeccapurple;
      }
      h3 {
        font-size: 36px;
        color: #333333;
        transition: all 0.5s;
        margin: 0px 0px 16px 60px;
        img {
          transition: all 0.5s;
          margin-left: 17px;

        }

      }
      p {
        text-align: left;
        text-indent: 2em;
        width: 310px;
        height: 100px;
        line-height: 20px;
        overflow: hidden;
        margin-left: 60px;
        font-size: 14px;
        color: #666666;
      }
    }
  }
}